@charset "UTF-8";

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 400 14px/130% "Josefin Sans", sans-serif;
  min-height: 100%;
  color: rgba(35, 41, 56, 0.6);
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 24px;
  font-weight: 400;
  color: #232938;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -3px;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 36px;
  }
}

h2 {
  font-size: 36px;
  line-height: 120%;
  font-weight: 600;
  letter-spacing: -3px;
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  font-size: 24px;
  line-height: 120%;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  h3 {
    font-size: 20px;
  }
}

a {
  text-decoration: none;
  color: #7f74ff;
  position: relative;
  border-bottom: 1px solid transparent;
}

a:hover {
  text-decoration: none;
}

a:before {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 1px;
  background-color: #7f74ff;
  transition: all .5s ease;
  width: 0;
}

a:hover:before {
  width: 100%;
}

ul,
ol {
  padding: 0;
  margin-bottom: 24px;
}

ul li,
ol li {
  margin: 0 0 8px;
}

ul,
ol {
  margin-left: 24px;
}

img {
  outline: none;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}


table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 32px;
  table-layout: fixed;
}

table tr:nth-child(odd) td {
  background-color: rgba(127, 116, 255, 0.2);
}

table tr:hover td {
  background-color: rgba(127, 116, 255, 0.2);
}

table td,
table th {
  border-bottom: 1px solid rgba(127, 116, 255, 0.2);
  border-top: 1px solid rgba(127, 116, 255, 0.2);
  text-align: left;
  padding: 16px;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}

table th {
  padding: 16px;
  font-weight: 600;
  color: #ffffff;
  background-color: #7f74ff;
}

sup {
  font-size: 12px;
  position: relative;
  top: -4px;
}

blockquote {
  margin-left: 32px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 32px;
  font-style: italic;
  margin-bottom: 32px;
  border-left: 2px solid #1f6c40;
}

q {
  quotes: "\00ab" "\00bb";
  margin-bottom: 24px;
  display: block;
}

q q {
  quotes: "\201e" "\201c";
}

/* Responsividade para tamanhos de tela específicos */
@media (max-width: 1400px) {
  .display-big-desktop-flex {
    display: flex !important;
  }

  .display-big-desktop-block {
    display: block !important;
  }
}

@media (max-width: 1200px) {
  .display-middle-desktop-flex {
    display: flex !important;
  }

  .display-middle-desktop-block {
    display: block !important;
  }
}

@media (max-width: 1023px) {
  .display-desktop-flex {
    display: flex !important;
  }

  .display-desktop-block {
    display: block !important;
  }
}

@media (max-width: 991px) {
  .display-tab-flex {
    display: flex !important;
  }

  .display-tab-block {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .display-mob-flex {
    display: flex !important;
  }

  .display-mob-block {
    display: block !important;
  }
}

@media (max-width: 579px) {
  .display-mob-p-flex {
    display: flex !important;
  }

  .display-mob-p-block {
    display: block !important;
  }
}

/* Flex display utilities */
.display-flex {
  display: flex !important;
}

.display-block {
  display: block !important;
}


/* Flex display utilities */
/* Flex display utilities */
/* Flex display utilities */
.container {
  width: 100%;
  max-width: 1248px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  .container {
    max-width: calc(100% - 48px);
  }
}

@media screen and (max-width: 419px) {
  .container {
    max-width: calc(100% - 32px);
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: calc(100% + 32px);
  margin: 0 -16px;
}

.row.row_justify-content-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 991px) {
  .row {
    width: calc(100% + 24px);
    margin: 0 -12px;
  }
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 991px) {
  .col {
    padding: 0 12px;
  }
}

.col.col_1 {
  width: 8.3333%;
}

.col.col_2 {
  width: 16.666%;
}

.col.col_3 {
  width: 25%;
}

.col.col_4 {
  width: 33.3%;
}

.col.col_5 {
  width: 41.666667%;
}

.col.col_6 {
  width: 50%;
}

.col.col_7 {
  width: 58.333333%;
}

.col.col_8 {
  width: 66.666667%;
}

.col.col_9 {
  width: 75%;
}

.col.col_10 {
  width: 83.333333%;
}

.col.col_11 {
  width: 91.666667%;
}

.col.col_12 {
  width: 100%;
}

@media (max-width: 1400px) {
  .col.col_big-desktop-2 {
    width: 16.66%;
  }

  .col.col_big-desktop-3 {
    width: 25%;
  }

  .col.col_big-desktop-4 {
    width: 33.3%;
  }

  .col.col_big-desktop-5 {
    width: 41.666667%;
  }

  .col.col_big-desktop-6 {
    width: 50%;
  }

  .col.col_big-desktop-7 {
    width: 58.333333%;
  }

  .col.col_big-desktop-8 {
    width: 66.666667%;
  }

  .col.col_big-desktop-9 {
    width: 75%;
  }

  .col.col_big-desktop-10 {
    width: 83.333333%;
  }

  .col.col_big-desktop-11 {
    width: 91.666667%;
  }

  .col.col_big-desktop-12 {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .col.col_middle-desktop-2 {
    width: 16.66%;
  }

  .col.col_middle-desktop-3 {
    width: 25%;
  }

  .col.col_middle-desktop-4 {
    width: 33.3%;
  }

  .col.col_middle-desktop-5 {
    width: 41.666667%;
  }

  .col.col_middle-desktop-6 {
    width: 50%;
  }

  .col.col_middle-desktop-7 {
    width: 58.333333%;
  }

  .col.col_middle-desktop-8 {
    width: 66.666667%;
  }

  .col.col_middle-desktop-9 {
    width: 75%;
  }

  .col.col_middle-desktop-10 {
    width: 83.333333%;
  }

  .col.col_middle-desktop-11 {
    width: 91.666667%;
  }

  .col.col_middle-desktop-12 {
    width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .col.col_desktop-2 {
    width: 16.66%;
  }

  .col.col_desktop-3 {
    width: 25%;
  }

  .col.col_desktop-4 {
    width: 33.3%;
  }

  .col.col_desktop-5 {
    width: 41.666667%;
  }

  .col.col_desktop-6 {
    width: 50%;
  }

  .col.col_desktop-7 {
    width: 58.333333%;
  }

  .col.col_desktop-8 {
    width: 66.666667%;
  }

  .col.col_desktop-9 {
    width: 75%;
  }

  .col.col_desktop-10 {
    width: 83.333333%;
  }

  .col.col_desktop-11 {
    width: 91.666667%;
  }

  .col.col_desktop-12 {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .col.col_tab-3 {
    width: 25%;
  }

  .col.col_tab-4 {
    width: 33.3%;
  }

  .col.col_tab-5 {
    width: 41.666667%;
  }

  .col.col_tab-6 {
    width: 50%;
  }

  .col.col_tab-7 {
    width: 58.333333%;
  }

  .col.col_tab-8 {
    width: 66.666667%;
  }

  .col.col_tab-9 {
    width: 75%;
  }

  .col.col_tab-10 {
    width: 83.333333%;
  }

  .col.col_tab-11 {
    width: 91.666667%;
  }

  .col.col_tab-12 {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .col.col_mob-2 {
    width: 16.66%;
  }

  .col.col_mob-3 {
    width: 25%;
  }

  .col.col_mob-4 {
    width: 33.3%;
  }

  .col.col_mob-6 {
    width: 50%;
  }

  .col.col_mob-8 {
    width: 66.666667%;
  }

  .col.col_mob-12 {
    width: 100%;
  }
}

@media screen and (max-width: 579px) {
  .col.col_mob-p-12 {
    width: 100%;
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

@media (max-width: 1400px) {
  .text-big-desktop-center {
    text-align: center;
  }

  .text-big-desktop-left {
    text-align: left;
  }

  .text-big-desktop-right {
    text-align: right;
  }
}

@media (max-width: 1200px) {
  .text-middle-desktop-center {
    text-align: center;
  }

  .text-middle-desktop-left {
    text-align: left;
  }

  .text-middle-desktop-right {
    text-align: right;
  }
}

@media screen and (max-width: 1023px) {
  .text-desktop-center {
    text-align: center;
  }

  .text-desktop-left {
    text-align: left;
  }

  .text-desktop-right {
    text-align: right;
  }
}

@media screen and (max-width: 991px) {
  .text-tab-center {
    text-align: center;
  }

  .text-tab-left {
    text-align: left;
  }

  .text-tab-right {
    text-align: right;
  }
}

@media screen and (max-width: 767px) {
  .text-mob-center {
    text-align: center;
  }

  .text-mob-left {
    text-align: left;
  }

  .text-mob-right {
    text-align: right;
  }
}

@media screen and (max-width: 579px) {
  .text-mob-p-center {
    text-align: center;
  }

  .text-mob-p-left {
    text-align: left;
  }

  .text-mob-p-right {
    text-align: right;
  }
}

#desktop-clients-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

#desktop-clients-1 .logo-container {
  display: flex;
  gap: 40px; /* Aumenta o espaço entre os logos */
}

#desktop-clients-1 img {
  max-width: 150px;  /* Aumenta o tamanho máximo do logo */
  max-height: 75px;  /* Aumenta a altura máxima proporcional */
  object-fit: contain;  /* Mantém a proporção da imagem */
}

/* Mídia query para dispositivos móveis */
@media screen and (max-width: 767px) {
  #desktop-clients-1 .logo-container {
    flex-direction: column;  /* Faz com que os logos fiquem empilhados */
    gap: 60px;  /* Ajusta o espaço entre os logos na versão mobile */
  }

  #desktop-clients-1 img {
    max-width: 500px;  /* Ajusta o tamanho máximo para caber melhor na tela */
    max-height: 200px;  /* Ajusta a altura dos logos */
  }
}



.direction-row {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: row !important;
  flex-direction: row !important;
}

@media screen and (min-width: 1024px) {
  .direction-row-desktop {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
}

@media screen and (min-width: 992px) {
  .direction-row-tab {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
}

@media screen and (min-width: 768px) {
  .direction-row-mob {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
}

@media screen and (min-width: 580px) {
  .direction-row-mob-p {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
}

.direction-column {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

@media screen and (min-width: 1024px) {
  .direction-column-desktop {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
}

@media screen and (min-width: 992px) {
  .direction-column-tab {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
}

@media screen and (min-width: 768px) {
  .direction-column-mob {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
}

@media screen and (min-width: 580px) {
  .direction-column-mob-p {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
}


/*flex-direction */
/*flex-direction */
/*flex-direction */
/*flex-direction */
.direction-row-reverse {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: reverse !important;
  -ms-flex-direction: row-reverse !important;
  flex-direction: row-reverse !important;
}

.direction-column-reverse {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: reverse !important;
  -ms-flex-direction: column-reverse !important;
  flex-direction: column-reverse !important;
}

.flex-wrap {
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap !important;
  flex-wrap: nowrap !important;
}

/*flex-direction */
/*flex-direction */
/*flex-direction */
/*flex-direction */
.justify-center {
  justify-content: center !important;
}

.justify-left {
  justify-content: flex-start !important;
}

.justify-right {
  justify-content: flex-end !important;
}

.justify-between {
  justify-content: space-between !important;
}

.justify-around {
  justify-content: space-around !important;
}

.align-center {
  align-items: center !important;
}

.align-left {
  align-items: flex-start !important;
}

.align-right {
  align-items: flex-end !important;
}

.align-between {
  align-content: space-between !important;
}

.align-around {
  align-content: space-around !important;
}

/*flex-direction */
/*flex-direction */
/*flex-direction */
/*flex-direction */

@media screen and (min-width: 1024px) {
  .order-desktop-1 {
    -webkit-box-ordinal-group: 2 !important;
    -ms-flex-order: 1 !important;
    order: 1 !important;
  }

  .order-desktop-2 {
    -webkit-box-ordinal-group: 3 !important;
    -ms-flex-order: 2 !important;
    order: 2 !important;
  }

  .order-desktop-3 {
    -webkit-box-ordinal-group: 4 !important;
    -ms-flex-order: 3 !important;
    order: 3 !important;
  }

  .order-desktop-4 {
    -webkit-box-ordinal-group: 5 !important;
    -ms-flex-order: 4 !important;
    order: 4 !important;
  }

  .order-desktop-5 {
    -webkit-box-ordinal-group: 6 !important;
    -ms-flex-order: 5 !important;
    order: 5 !important;
  }

  .order-desktop-6 {
    -webkit-box-ordinal-group: 7 !important;
    -ms-flex-order: 6 !important;
    order: 6 !important;
  }

  .order-desktop-7 {
    -webkit-box-ordinal-group: 8 !important;
    -ms-flex-order: 7 !important;
    order: 7 !important;
  }

  .order-desktop-8 {
    -webkit-box-ordinal-group: 9 !important;
    -ms-flex-order: 8 !important;
    order: 8 !important;
  }

  .order-desktop-9 {
    -webkit-box-ordinal-group: 10 !important;
    -ms-flex-order: 9 !important;
    order: 9 !important;
  }

  .order-desktop-10 {
    -webkit-box-ordinal-group: 11 !important;
    -ms-flex-order: 10 !important;
    order: 10 !important;
  }

  .order-desktop-11 {
    -webkit-box-ordinal-group: 12 !important;
    -ms-flex-order: 11 !important;
    order: 11 !important;
  }

  .order-desktop-12 {
    -webkit-box-ordinal-group: 13 !important;
    -ms-flex-order: 12 !important;
    order: 12 !important;
  }
}

@media screen and (min-width: 992px) {
  .order-tab-1 {
    -webkit-box-ordinal-group: 2 !important;
    -ms-flex-order: 1 !important;
    order: 1 !important;
  }

  .order-tab-2 {
    -webkit-box-ordinal-group: 3 !important;
    -ms-flex-order: 2 !important;
    order: 2 !important;
  }

  .order-tab-3 {
    -webkit-box-ordinal-group: 4 !important;
    -ms-flex-order: 3 !important;
    order: 3 !important;
  }

  .order-tab-4 {
    -webkit-box-ordinal-group: 5 !important;
    -ms-flex-order: 4 !important;
    order: 4 !important;
  }

  .order-tab-5 {
    -webkit-box-ordinal-group: 6 !important;
    -ms-flex-order: 5 !important;
    order: 5 !important;
  }

  .order-tab-6 {
    -webkit-box-ordinal-group: 7 !important;
    -ms-flex-order: 6 !important;
    order: 6 !important;
  }

  .order-tab-7 {
    -webkit-box-ordinal-group: 8 !important;
    -ms-flex-order: 7 !important;
    order: 7 !important;
  }

  .order-tab-8 {
    -webkit-box-ordinal-group: 9 !important;
    -ms-flex-order: 8 !important;
    order: 8 !important;
  }

  .order-tab-9 {
    -webkit-box-ordinal-group: 10 !important;
    -ms-flex-order: 9 !important;
    order: 9 !important;
  }

  .order-tab-10 {
    -webkit-box-ordinal-group: 11 !important;
    -ms-flex-order: 10 !important;
    order: 10 !important;
  }

  .order-tab-11 {
    -webkit-box-ordinal-group: 12 !important;
    -ms-flex-order: 11 !important;
    order: 11 !important;
  }

  .order-tab-12 {
    -webkit-box-ordinal-group: 13 !important;
    -ms-flex-order: 12 !important;
    order: 12 !important;
  }
}

@media screen and (min-width: 768px) {
  .order-mob-1 {
    -webkit-box-ordinal-group: 2 !important;
    -ms-flex-order: 1 !important;
    order: 1 !important;
  }

  .order-mob-2 {
    -webkit-box-ordinal-group: 3 !important;
    -ms-flex-order: 2 !important;
    order: 2 !important;
  }

  .order-mob-3 {
    -webkit-box-ordinal-group: 4 !important;
    -ms-flex-order: 3 !important;
    order: 3 !important;
  }

  .order-mob-4 {
    -webkit-box-ordinal-group: 5 !important;
    -ms-flex-order: 4 !important;
    order: 4 !important;
  }

  .order-mob-5 {
    -webkit-box-ordinal-group: 6 !important;
    -ms-flex-order: 5 !important;
    order: 5 !important;
  }

  .order-mob-6 {
    -webkit-box-ordinal-group: 7 !important;
    -ms-flex-order: 6 !important;
    order: 6 !important;
  }

  .order-mob-7 {
    -webkit-box-ordinal-group: 8 !important;
    -ms-flex-order: 7 !important;
    order: 7 !important;
  }

  .order-mob-8 {
    -webkit-box-ordinal-group: 9 !important;
    -ms-flex-order: 8 !important;
    order: 8 !important;
  }

  .order-mob-9 {
    -webkit-box-ordinal-group: 10 !important;
    -ms-flex-order: 9 !important;
    order: 9 !important;
  }

  .order-mob-10 {
    -webkit-box-ordinal-group: 11 !important;
    -ms-flex-order: 10 !important;
    order: 10 !important;
  }

  .order-mob-11 {
    -webkit-box-ordinal-group: 12 !important;
    -ms-flex-order: 11 !important;
    order: 11 !important;
  }

  .order-mob-12 {
    -webkit-box-ordinal-group: 13 !important;
    -ms-flex-order: 12 !important;
    order: 12 !important;
  }
}

/*   */
svg {
  fill: #7f74ff;
}

.icon {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .icon {
    width: 18px;
    height: 18px;
  }
}

.icon-text {
  display: flex;
  align-items: center;
}

.icon-position-left .icon {
  margin-right: 8px;
}

.icon-position-right .icon {
  margin-left: 8px;
}

.label-icon {
  position: relative;
}

.label-icon .icon-label {
  position: absolute;
  width: 20px;
  height: 20px;
  top: calc(50% - 12px);
  right: 12px;
  fill: #7f74ff;
}

.label-icon-position-right input[type="text"],
.label-icon-position-right input[type="password"],
.label-icon-position-right input[type="tel"],
.label-icon-position-right input[type="email"] {
  padding-right: 28px;
}

.label-icon-position-right .icon-label {
  right: 0;
}

.label-icon-position-left input[type="text"],
.label-icon-position-left input[type="password"],
.label-icon-position-left input[type="tel"],
.label-icon-position-left input[type="email"] {
  padding-left: 28px;
}

.label-icon-position-left .icon-label {
  left: 0;
}

@media screen and (max-width: 767px) {
  .label-icon .icon {
    right: 8px;
  }

  .label-icon .icon-position-right {
    right: 8px;
  }

  .label-icon .icon-position-left {
    left: 8px;
  }
}

/*   */
/*   */
/*   */
/*   */
form input[type="text"],
form input[type="password"],
form input[type="tel"],
form input[type="email"],
form textarea {
  border: none;
  border-bottom: 1px solid rgba(127, 116, 255, 0.6);
  padding: 6px 16px;
  font-size: 14px;
  line-height: 130%;
  width: 100%;
  background-color: transparent;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
  appearance: none;
  outline: none;
  transition: all 0.2s ease-in-out;
}

form input[type="text"]:hover,
form input[type="password"]:hover,
form input[type="tel"]:hover,
form input[type="email"]:hover,
form textarea:hover {
  border-color: #7f74ff;
}

form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="tel"]:focus,
form input[type="email"]:focus,
form textarea:focus {
  border-color: #4940A7;
}

form input[type="text"]:disabled,
form input[type="password"]:disabled,
form input[type="tel"]:disabled,
form input[type="email"]:disabled,
form textarea:disabled {
  color: rgba(35, 41, 56, 0.4);
  border-color: rgba(35, 41, 56, 0.4);
}

form input[type="text"].error,
form input[type="password"].error,
form input[type="tel"].error,
form input[type="email"].error,
form textarea.error {
  border-color: #D71313;
}

form textarea {
  height: 96px;
  resize: none;
}

.form-field {
  margin-bottom: 24px;
}

.form-field:last-child {
  margin-bottom: 0;
}

.form-field .form-field__title {
  font-size: 16px;
  margin-bottom: 8px;
  cursor: pointer;
  color: #7f74ff;
  transition: all 0.2s ease-in-out;
}

.form-field .form-field__title:hover {
  color: #1f6c40;
}

.form-group {
  position: relative;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="tel"],
.form-group input[type="email"] {
  padding-right: 45px;
}

.form-group-btn {
  position: absolute;
  top: calc(50% - 16px);
  right: 0;
}

label.error {
  color: rgba(215, 19, 19, 0.6);
  position: absolute;
  top: 100%;
  right: 0;
}

label.error~.icon-label {
  fill: rgba(215, 19, 19, 0.6);
}

label.error~.icon-btn .icon {
  fill: rgba(215, 19, 19, 0.6) !important;
}

.input-disabled .icon-label,
.input-disabled .icon-btn .icon {
  fill: rgba(35, 41, 56, 0.4) !important;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: rgba(35, 41, 56, 0.6);
}

input:disabled::-moz-placeholder,
textarea:disabled::-moz-placeholder {
  color: rgba(35, 41, 56, 0.4);
}

@-webkit-keyframes autofill {
  to {
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(127, 116, 255, 0.4);
}

::-webkit-scrollbar-thumb {
  background-color: #7f74ff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4940A7;
}

/*   */
/*   */
/*   */
/*   */
.btn,
button,
input[type="submit"],
input[type="reset"] {
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  line-height: 140%;
  padding: 7px 16px;
  border: 1px solid #7f74ff;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  outline: none;
  font-weight: 400;
  text-align: center;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #7f74ff;
  -webkit-box-shadow: 0 10px 40px rgba(114, 133, 255, 0.4);
  box-shadow: 0 10px 40px rgba(114, 133, 255, 0.4);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #ffffff;
  text-decoration: none;
  background: #7f74ff;
  border-color: #7f74ff;
}

.btn:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus {
  background: #7f74ff;
  border-color: #7f74ff;
  -webkit-box-shadow: 0 0 0 4px rgba(127, 116, 255, 0.2);
  box-shadow: 0 0 0 4px rgba(127, 116, 255, 0.2);
}

.btn:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active {
  background: #4940A7;
  border-color: #4940A7;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn:disabled,
button:disabled,
input[type="submit"]:disabled,
input[type="reset"]:disabled {
  border-color: rgba(73, 64, 167, 0.2);
  background-color: rgba(73, 64, 167, 0.2);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn.btn_secondary,
button.btn_secondary,
input[type="submit"].btn_secondary,
input[type="reset"].btn_secondary {
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
  line-height: 130%;
  color: #7f74ff;
  border-color: transparent;
  background-color: rgba(127, 116, 255, 0.2);
}

.btn.btn_secondary:hover,
button.btn_secondary:hover,
input[type="submit"].btn_secondary:hover,
input[type="reset"].btn_secondary:hover {
  color: #7f74ff;
  border-color: #7f74ff;
  background-color: rgba(127, 116, 255, 0.2);
}

.btn.btn_secondary:focus,
button.btn_secondary:focus,
input[type="submit"].btn_secondary:focus,
input[type="reset"].btn_secondary:focus {
  color: #7f74ff;
  border-color: #7f74ff;
  background-color: rgba(127, 116, 255, 0.2);
}

.btn.btn_secondary:active,
button.btn_secondary:active,
input[type="submit"].btn_secondary:active,
input[type="reset"].btn_secondary:active {
  border-color: transparent;
  background-color: #4940A7;
}

.btn.btn_secondary:disabled,
button.btn_secondary:disabled,
input[type="submit"].btn_secondary:disabled,
input[type="reset"].btn_secondary:disabled {
  border-color: transparent;
  background-color: rgba(127, 116, 255, 0.2);
  color: #ffffff;
}

.btn.btn_link,
button.btn_link,
input[type="submit"].btn_link,
input[type="reset"].btn_link {
  color: #7f74ff;
  background: transparent;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn.btn_link:hover,
button.btn_link:hover,
input[type="submit"].btn_link:hover,
input[type="reset"].btn_link:hover {
  background: transparent;
  border: none;
  color: #4940A7;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn.icon-btn {
  padding-left: 7px;
  padding-right: 7px;
}

.btn .icon {
  fill: #ffffff;
  display: block;
}

.btn:hover {
  fill: #ffffff;
}

.btn.btn_secondary .icon {
  fill: #7f74ff;
}

.btn.btn_secondary:hover .icon {
  fill: #7f74ff;
}

.btn.btn_link .icon {
  fill: #7f74ff;
}

.btn.btn_link:hover .icon {
  fill: #7f74ff;
}

.wysiwyg img {
  display: block;
  margin: 0 auto 24px;
}

.wysiwyg ul li,
.wysiwyg ol li {
  margin-bottom: 8px;
}

@media screen and (max-width: 991px) {

  .wysiwyg ul li,
  .wysiwyg ol li {
    padding-left: 24px;
  }
}

.wysiwyg ul {
  list-style: none;
}

.wysiwyg ul ul {
  margin-left: 0;
}

.wysiwyg ul li {
  position: relative;
  padding-left: 32px;
}

.wysiwyg ul li:before {
  content: "—";
  left: 8px;
  top: -2px;
  position: absolute;
}

@media screen and (max-width: 991px) {
  .wysiwyg ul li:before {
    top: 0;
    left: 0;
  }
}

.wysiwyg>*:last-child {
  margin-bottom: 0;
}

.slider-prev,
.slider-next {
  position: absolute;
  width: 52px;
  height: 52px;
  top: calc(50% - 26px);
  background-color: #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 1;
  cursor: pointer;
}

.slider-prev {
  left: -26px;
}

.slider-next {
  right: -26px;
}

.slider-pagination {
  position: relative;
  bottom: auto !important;
  width: 100%;
  text-align: center;
}

.slider-pagination__item {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background-color: #7f74ff;
  opacity: .2;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 0 4px;
}

.slider-pagination__item.active {
  opacity: 1;
  width: 24px;
}

.nav__list {
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 991px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 16px 0;
  }
}

.nav__item {
  margin: 0;
}

.nav__item.nav__item_active .nav__link,
.nav__item:hover .nav__link {
  color: #4940A7;
}

.nav__link {
  display: block;
  color: #232938;
  text-decoration: none;
  font-size: 18px;
  line-height: 140%;
  padding: 0 16px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 991px) {
  .nav__link {
    padding: 0 24px;
  }
}

.header {
  background-color: transparent;
  padding: 24px 0;
}

@media screen and (min-width: 1024px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; /* Garantir que o cabeçalho fique sobre o conteúdo */
  }
}

.header.header-scroll {
  background-color: #ffffff !important; /* Certifique-se de que a cor de fundo não seja sobrescrita */
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.06);
  z-index: 10;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 12px 0;
  }
}

.site-logo .site-logo__link {
  height: 100%;
  display: block;
}

.site-logo .site-logo__link:before {
  display: none;
}

.site-logo__img {
  max-width: 150px; /* Ajuste o tamanho da logo para garantir que ela não fique enorme */
  height: auto;
}

.nav-toggle {
  display: none;
  width: 40px;
  height: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 10;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.nav-toggle__link {
  width: 24px;
  display: block;
  background: #7f74ff;
  -webkit-box-shadow: 2px 1px 0 rgba(127, 116, 255, 0.4);
  box-shadow: 2px 1px 0 rgba(127, 116, 255, 0.4);
  height: 3px;
  border-radius: 2px;
  margin: 2px 0;
  clear: both;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.nav-toggle__link:nth-of-type(2) {
  height: 2px;
}

@media screen and (max-width: 1023px) {
  .nav-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 1023px) {
  .header-mobile {
    position: fixed;
    left: 0;
    right: 0;
    top: 0; /* Coloca o menu no topo da tela */
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
    z-index: 15; /* Garantir que o menu mobile fique acima do conteúdo */
  }
}

.header-nav__container {
  display: flex;
  align-items: center;
}

.header-nav__info {
  font-size: 18px;
  line-height: 140%;
  margin-left: 24px;
}

@media screen and (max-width: 1023px) {
  .header-nav {
    margin-left: auto;
    position: relative;
    width: 40px;
    height: 40px;
    z-index: 10;
  }

  .header-nav__container {
    right: 0;
    top: 0;
    min-width: 40px;
    min-height: 40px;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #ffffff;
    position: absolute;
    transition: all 0.2s ease-in-out;
    flex-direction: column;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    align-items: flex-end;
  }

  .header-nav__container:before,
  .header-nav__container:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.2s ease-in-out;
  }

  .header-nav__container:before {
    background-color: rgba(255, 255, 255, 0.4);
    z-index: -3;
  }

  .header-nav__container:after {
    border-radius: 100%;
    box-shadow: 0 0 100px rgba(64, 58, 128, 0.24);
    background-color: #D7CFFF;
    z-index: -2;
  }

  .header-nav__menu,
  .header-nav__info {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
  }

  .header-nav__info {
    text-align: right;
    margin: 0;
  }
}

.header_menu-active .header-nav__container {
  top: -228px;
  right: -200px;
  padding: calc(228px + 48px) 200px 69px 116px;
  width: auto;
  height: auto;
  min-width: 600px;
  min-height: 600px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header_menu-active .header-nav__container:after {
  transform: translate(26px, 0);
  width: calc(100% + 31px);
  height: calc(100% + 31px);
  animation: move-your-body 7s linear infinite;
}

.header_menu-active .header-nav__menu,
.header_menu-active .header-nav__info {
  width: 100%;
  height: auto;
  opacity: 1;
  visibility: visible;
}

.header_menu-active .header-mobile:before {
  content: '';
  position: absolute;
  top: 0;
  height: 100vh;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 9;
}

.header_menu-active .nav-toggle .nav-toggle__link:nth-child(2) {
  display: none;
}

.header_menu-active .nav-toggle .nav-toggle__link:nth-child(1),
.header_menu-active .nav-toggle .nav-toggle__link:nth-child(3) {
  margin: 0;
  transform: rotate(45deg);
}

.header_menu-active .nav-toggle .nav-toggle__link:nth-child(3) {
  margin-top: -2px;
  transform: rotate(-45deg);
}

@keyframes move-your-body {
  25% {
    transform: translate(-26px, 0);
  }

  50% {
    transform: translate(0, -26px);
  }

  75% {
    transform: translate(26px, -26px);
  }

  100% {
    transform: translate(26px, 0);
  }
}

.footer {
  margin-top: auto;
}

.footer-top__container {
  border-top: 1px solid rgba(127, 116, 255, 0.4);
  padding: 40px 0;
}

.footer-bottom {
  background-color: rgba(127, 116, 255, 0.15);
  color: #7f74ff;
  padding: 32px 0;
}

.footer-logo .site-logo {
  display: block;
  margin-bottom: 4px;
}

.footer-logo .site-logo:before {
  display: none;
}

@media screen and (max-width: 1023px) {
  .footer-logo {
    margin-bottom: 40px;
  }
}

.footer .subscript-title {
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .footer .subscript {
    margin-bottom: 40px;
  }
}

.contact-list {
  list-style-type: none;
  margin: 0;
}

.contact-item {
  margin-bottom: 7px;
  justify-content: flex-end;
  align-items: stretch;
  color: rgba(35, 41, 56, 0.6);
}

.contact-item:last-child {
  margin-bottom: 0;
}

.contact-item .icon {
  width: 16px;
  height: 16px;
}

@media screen and (max-width: 767px) {
  .contact-item {
    justify-content: center;
  }
}

.contact-link {
  color: rgba(35, 41, 56, 0.6);
}

.contact-link:hover {
  color: #7f74ff;
}

.popup-init {
  cursor: pointer;
}

.popup-wrap {
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.4);
  transition: all 0.7s ease-in-out;
  overflow-y: auto;
  overflow-x: hidden;
}

.popup-wrap,
.popup {
  visibility: hidden;
  opacity: 0;
}

.popup-visible .popup-wrap {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 767px) {

  .popup-visible .site-header,
  .popup-visible .site-main,
  .popup-visible .site-footer {
    opacity: 0;
    visibility: hidden;
  }
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: auto;
  min-width: 320px;
  padding: 78px 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 16px 24px rgba(2, 21, 51, 0.1);
  background-color: #ffffff;
  z-index: 111;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1023px) {
  .popup {
    padding: 48px 0 80px;
  }
}

.popup.active {
  visibility: visible;
  opacity: 1;
}

.popup .container {
  position: relative;
}

.popup .popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  padding-bottom: 16px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .popup .popup-header {
    position: fixed;
    background-color: #E9EBEE;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px;
  }
}

.popup .popup-header .popup-header__title {
  margin-right: 24px;
}

.popup .popup-header .popup-header__title .title-text {
  margin-bottom: 0;
}

.popup .popup-remove {
  position: absolute;
  top: -50px;
  right: 0;
  left: 0;
  max-width: 1248px;
  padding: 0 16px;
  width: 100%;
  cursor: pointer;
  display: flex;
  margin-left: auto;
  transition: all 0.2s ease-in-out;
}

.popup .popup-remove svg {
  margin-left: auto;
}

@media screen and (max-width: 1023px) {
  .popup .popup-remove {
    max-width: calc(100% - 16px);
    margin: 0 auto;
    top: -30px;
  }
}

.popup .popup-content {
  margin-bottom: 16px;
}

.popup .popup-content .subscription-icon {
  position: relative;
}

.popup .popup-content .subscription-icon:before {
  content: '';
  position: absolute;
  top: calc(50% - 360px);
  left: calc(50% - 360px);
  background-image: radial-gradient(84.46% 51.78% at 49.16% 50.49%, #4076FF 0%, #FFFFFF 53.65%);
  width: 720px;
  height: 720px;
  z-index: -1;
  opacity: .12;
}

.popup .popup-content .subscription-icon svg {
  width: 100%;
  height: 100%;
}

.popup .popup-content .subscription-description {
  margin-bottom: 32px;
}

.popup .popup-content .subscription-description .title {
  margin-bottom: 8px;
}

.popup .popup-content .subscription-form {
  max-width: 85%;
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .popup .popup-content .subscription-icon {
    margin-bottom: 24px;
    max-width: 592px;
    margin-left: auto;
    margin-right: auto;
  }

  .popup .popup-content .subscription-form {
    max-width: 384px;
    margin: 0 auto;
  }
}

.section {
  padding: 100px 0;
}

.section:first-of-type {
  padding-top: 200px;
}

.section:last-of-type {
  padding-bottom: 200px;
}

@media screen and (max-width: 1023px) {
  .section {
    padding: 90px 0;
  }

  .section:first-of-type {
    padding-top: 180px;
  }

  .section:last-of-type {
    padding-bottom: 180px;
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding: 60px 0;
  }

  .section:first-of-type {
    padding-top: 120px;
  }

  .section:last-of-type {
    padding-bottom: 120px;
  }
}

.section.section_secondary-bg {
  background-color: rgba(127, 116, 255, 0.15);
}

.post-slider__container {
  overflow: initial;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .post-slider__container {
    padding: 0 25%;
  }
}

.post-slider__wrapper {
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .post-slider__wrapper {
    min-height: 420px;
  }
}

@media screen and (min-width: 1024px) {
  .post-slider__wrapper {
    min-height: 435px;
  }
}

.post-slider__item {
  background-color: #ffffff;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid rgba(35, 41, 56, 0.1);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.post-slider__item.active-slider {
  border-color: transparent;
  -webkit-box-shadow: 0 20px 60px rgba(64, 58, 128, 0.12);
  box-shadow: 0 20px 60px rgba(64, 58, 128, 0.12);
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

@media screen and (min-width: 768px) {
  .post-slider__item.active-slider {
    padding: 24px;
  }

  .post-slider__item.active-slider .post-slider__info {
    height: auto;
    opacity: 1;
    visibility: visible;
  }

  .post-slider__item.active-slider .post-slider__next,
  .post-slider__item.active-slider .post-slider__prev {
    width: 52px;
  }

  .post-slider__item.active-slider .post-slider__prev {
    left: -26px;
  }

  .post-slider__item.active-slider .post-slider__prev.swiper-button-disabled {
    left: 0;
    width: 0;
  }

  .post-slider__item.active-slider .post-slider__next {
    right: -26px;
  }

  .post-slider__item.active-slider .post-slider__next.swiper-button-disabled {
    right: 0;
    width: 0;
  }
}

.post-slider__image {
  margin-bottom: 16px;
}

.post-slider__image img {
  display: block;
}

.post-slider__info .title {
  margin-bottom: 8px;
}

.post-slider__info .wysiwyg {
  margin-bottom: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 54px;
}

.post-slider__info .prise {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #232938;
}

.post-slider__info .prise .pieces {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: rgba(35, 41, 56, 0.6);
}

@media screen and (max-width: 767px) {
  .post-slider__info .prise {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .post-slider__info {
    height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
  }
}

@media screen and (max-width: 419px) {
  .post-slider__info .prise {
    width: 100%;
    margin-bottom: 16px;
  }

  .post-slider__info .btn {
    width: 100%;
  }
}

.post-slider__prev,
.post-slider__next {
  position: absolute;
  width: 0;
  height: 52px;
  background-color: transparent;
  background-repeat: no-repeat;
  overflow: hidden;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.post-slider__prev .icon,
.post-slider__next .icon {
  width: 13px;
  height: 13px;
}

@media screen and (max-width: 767px) {

  .post-slider__prev,
  .post-slider__next {
    display: none;
  }
}

.post-slider__prev {
  left: 0;
  background-image: url("../images/content/ellipse-prev.png");
  background-position: 10px 0;
}

.post-slider__next {
  right: 0;
  background-image: url("../images/content/ellipse-next.png");
  background-position: calc(100% - 10px) 0;
}

.post-slider__pagination {
  position: relative;
  bottom: auto !important;
}

.post-description {
  margin-bottom: 40px;
}


.soc-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -4px;
}

.soc-item {
  margin: 0 4px;
}

.soc-link {
  display: block;
  width: 16px;
  height: 16px;
}

.soc-link:hover .soc-icon {
  fill: #232938;
}

.soc-icon {
  width: 16px;
  height: 16px;
  transition: all 0.2s ease-in-out;
}

.photo-list {
  position: relative;
}

.photo-item {
  max-width: 400px;
  background-color: #ffffff;
  padding: 16px;
  box-shadow: 20px 20px 50px rgba(64, 58, 128, 0.05), 50px 50px 80px rgba(64, 58, 128, 0.08);
  border-radius: 8px;
}

.photo-img {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.photo-img img {
  display: block;
  height: 100%;
  width: 100%;
}

.photo-info {
  margin-top: 16px;
  min-height: 16px;
}

@media screen and (max-width: 767px) {
  .photo-item {
    padding: 8px;
  }

  .photo-info {
    min-height: 8px;
    margin-top: 8px;
    font-size: 10px;
    line-height: 120%;
    color: rgba(35, 41, 56, 0.4);
  }
}

.main-section.section {
  padding-top: 263px;
}

.main-photo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.main-photo__fon {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200%;
  height: 200%;
  z-index: -1;
}

.main-photo-item {
  z-index: 2;
}

.main-photo-item-1 {
  max-width: 312px;
  width: 100%;
}

.main-photo-item-1 .photo-img {
  height: 247px;
}

.main-photo-item-2 {
  position: absolute;
  transform: rotate(8.39deg);
  width: 100%;
  right: 35px;
  bottom: 45px;
}

.main-container .btn {
  max-width: 280px;
  width: 100%;
}

.main-description {
  margin-bottom: 48px;
}

@media screen and (max-width: 1023px) {
  .main-section.section {
    padding-top: 185px;
  }

  .main-photo {
    justify-content: center;
    margin-bottom: 96px;
  }

  .main-photo__fon {
    width: 100%;
  }

  .main-photo-item-1 {
    max-width: 230px;
  }

  .main-photo-item-1 .photo-img {
    height: 185px;
  }

  .main-photo-item-2 {
    max-width: 300px;
    position: relative;
  }

  .main-photo-item-2 .photo-img {
    height: 225px;
  }

  .main-container {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .main-section.section {
    padding-top: 80px;
  }

  .main-photo {
    margin-bottom: 25px;
  }

  .main-description {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 579px) {
  .main-photo-item-1 {
    max-width: 116px;
  }

  .main-photo-item-1 .photo-img {
    height: 92px;
  }

  .main-photo-item-2 {
    max-width: 150px;
  }

  .main-photo-item-2 .photo-img {
    height: 111px;
  }
}

.dignity-block {
  padding: 32px;
  background-color: #ffffff;
  border-radius: 6px;
  -webkit-box-shadow: 0 12px 30px rgba(0, 0, 0, 0.06);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.06);
  height: 100%;
}

@media screen and (max-width: 1023px) {
  .dignity-block {
    padding: 85px 16px 24px;
    text-align: center;
  }
}

.dignity-title {
  position: relative;
  margin-bottom: 16px;
}

.dignity-title .title {
  margin-bottom: 0;
  max-width: calc(100% - 125px);
}

@media screen and (max-width: 1023px) {
  .dignity-title .title {
    max-width: 100%;
  }
}

.dignity-image {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 1023px) {
  .dignity-image {
    left: 0;
    bottom: 50px;
  }
}
